함수 solution은 정수 n을 매개변수로 입력받습니다. n의 각 자릿수를 큰것부터 작은 순으로 정렬한 새로운 정수를 리턴해주세요. 예를들어 n이 118372면 873211을 리턴하면 됩니다.

제한 조건
n은 1이상 8000000000 이하인 자연수입니다.
입출력 예

In [10]:
# 개별 원소로 분리 
num = input()
list = []
for i in num:
    list.append(int(i))
list.sort()
list
# 리스트에 넣기 
# sort 시키기

[2, 3, 3, 4, 5, 5, 6]

In [13]:
result = ''.join(map(str,list))
result

'2334556'

In [25]:
# 함수로 만들어주기 
num = input()

def solution(num):
    list = []
    for i in num:
        list.append(int(i))
    list.sort()
    result = ''.join(map(str,list))
    return result 

solution(num)

'3445'